@import '../../constants/colors';

.StatusBullet {
  display:flex;
  position: absolute;
  left: 25vw;
}

.StatusBullet .title{
  color:$lightPurple;
  margin-bottom:0.55vw;
  margin-left:0.6vw;
  margin-top:0.3vw;
  font-family:'Lato-Bold';
  font-size:0.7vw;
}

.StatusBullet .statusMessage{
  color:$lightPurple;
  opacity: 0.5;
  margin-left:0.6vw;
  font-size:0.67vw;
}