.container{
    margin-top: 50px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.titleheader{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.information{
    font-size: 20px;
    color: gray;
}