.DataView {
  display: flex;
  flex: 1;
  justify-content: center;
}

.pod {
  width: 1103px;
  height: 625px;
  position: absolute;
  bottom: 0px;
}

.logo {
  position: absolute;
  left: 15px;
  top: 30px;
}
