.DataView {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
}

.DataView .pod {
  width: 1103px;
  height: 625px;
  position: absolute;
  bottom: 0px;
}

.DataView .logo {
  position: absolute;
  left: 15px;
  top: 30px;

}

.DataView .centerDisplay {
  display: absolute;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
  height: fit-content;
}

.DataView .centerDialContainer {
  display: absolute;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 15px;
}

.DataView .tensPresDial{
  position: absolute;
  top: 5vh;
  right: 22.5vw;
  transform: scale(1);
  transform: translate(-50%, 0);
}

.DataView .fTensTempDial{
  position: absolute;
  top: 25vh;
  right: 22.5vw;
  transform: translate(-50%, 0);
}

.DataView .tensATTempDial{
  position: absolute;
  top: 45vh;
  right: 22.5vw;
  transform: translate(-50%, 0);
}

.DataView .rTensTempDial{
  position: absolute;
  top: 65vh;
  right: 22.5vw;
  transform: translate(-50%, 0);
}

.DataView .solTempDial{
  position: absolute;
  top: 5vh;
  right: 12.5vw;
  transform: translate(-50%, 0);
}

.DataView .brakingATTempDial{
  position: absolute;
  top: 65vh;
  right: 12.5vw;
  transform: translate(-50%, 0);
}

.DataView .speedDial {
  position: absolute;
  transform: translate(-50%, 0);
}

.DataView .accelDial {
  position: absolute;
  top: 27vh;
  right: 3.5vw;
  transform: translate(-50%, 0);
}

.DataView .maglevDial {
  position: absolute;
  top: 27vh;
  left: 13vw;
  transform: translate(-50%, 0);
}

.DataView .FBPHTempDial{
  position: absolute;
  top: 5vh;
  left: 16vw;
  transform: translate(-50%, 0);
}

.DataView .FBPLTempDial{
  position: absolute;
  top: 65vh;
  left: 16vw;
  transform: translate(-50%, 0);
}

.DataView .FBPATempDial{
  position: absolute;
  top: 5vh;
  left: 26vw;
  transform: translate(-50%, 0);
}

.DataView .FBPA2TempDial{
  position: absolute;
  top: 25vh;
  left: 26vw;
  transform: translate(-50%, 0);
}

.DataView .FBPA3TempDial{
  position: absolute;
  top: 45vh;
  left: 26vw;
  transform: translate(-50%, 0);
}

.DataView .FBPA4TempDial{
  position: absolute;
  top: 65vh;
  left: 26vw;
  transform: translate(-50%, 0);
}


.DataView .FBPContainer {
  position: absolute;
  left: 90vw;
  top: 10vh;
  transform: translate(-50%, 0)

}

.DataView .RBPContainer {
  position: absolute;
  left: 90vw;
  top: 43vh;
  transform: translate(-50%, 0)

}

.DataView .ControlBattery {
  position: absolute;
  left: 90vw;
  top: 76vh;
  transform: translate(-50%, 0)

}
