@import '../../constants/colors';

.DataContainer {
  display: flex;
  flex: 1;
}

.systemButton {
  position: absolute;
  bottom: 5vh;
  left: 2vw;
}

.systemButton:hover{
  cursor: pointer;
}

.batteryCellContainer {
  position: absolute;
  bottom: 5vh;
  right: 2vw;
}

.batteryButton {
  color: $white !important;
  background-color: rgba(1,1,1,0) !important;
  border:2px solid rgba(148,153,195,.5);
}
