@import '../../constants/colors';

.DataContainer {
  display: flex;
  flex: 1;
}

#systemButton {
  position: absolute;
  bottom: 200px;
  left: 40px;
}

#batteryCellButton {
  position: absolute;
  bottom: 200px;
  right: 115px;
}
