@import '../../constants/colors';

.IconButton {
  padding: 10px;
  transition: 0.5s;
}

.IconButton:active {
  padding: 10px;
  transform: scale(1.2);
}

.IconButton p {
  color: $lightPurple;
  font-size: 12px;
  margin: 5px 0;
}

.Icon {
  width: 32px;
  height: 32px;
}
